@import './variables';

.btn {
    margin: 15px;
    min-width: 101px;
    color: $btn;
    text-align: center;
    text-transform: uppercase;
    font-size: 14px;
    transition: 0.3s ease;
    border: none;
    background-color: transparent;
    cursor: pointer;
    border: 3px solid $dark;
    padding: 5px;
    &:hover {
        background-color: $btn;
        color: #fff;
    }
}